<html lang="pt-br" ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Lista Telefônica</title>
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <style>
        .jumbotron {
            width: 400px;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
        }
        .table {
            margin-top: 20px;
        }
        .form-control {
            margin-bottom: 5px;
        }
        button[disabled="disabled"] {
            cursor: not-allowed;
        }
        .selecionado {
            background-color: yellow !important;
        }
        .negrito {
            font-weight: bold;
        }
    </style>
    <script src="lib/angular/angular.js"></script>
    <script>
        angular.module("listaTelefonica", []);
        angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
            $scope.app = "Lista Telefônica";
            $scope.operadoras = [
                {nome: "Oi", codigo: "14", categoria: "Celular"},
                {nome: "Vivo", codigo: "15", categoria: "Celular"},
                {nome: "Tim", codigo: "41", categoria: "Celular"},
                {nome: "GVT", codigo: "25", categoria: "Fixo"},
                {nome: "Embratel", codigo: "21", categoria: "Fixo"},
            ];
            $scope.contatos = [
                {nome: "Pedro", telefone: "9999-8888", operadora: $scope.operadoras[0], cor: 'blue'}, //fazer a leitura do $scope dentro do controller
                {nome: "Ana", telefone: "9999-8877", operadora: $scope.operadoras[1], cor: 'yellow'}, //não é correto, porém está sendo feito para testes
                {nome: "Maria", telefone: "9999-8866",  operadora: $scope.operadoras[2], cor: 'red'} //da nossa lista
            ];
            $scope.adicionarContato = function (contato) {
                // Método incorreto
                // $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
                // Método correto (utilizando parâmetros (nome, telefone)
                // $scope.contatos.push({nome: nome, telefone: telefone});
                // Otimização (utiliza um objeto como parâmetro)
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
            };
            $scope.apagarContatos = function (contatos) {
                $scope.contatos = contatos.filter(function (contato) {
                    if (!contato.selecionado) return contato;
                });
            };
            $scope.isContatoSelecionado = function (contatos) {
                return contatos.some(function (contato) {
                    return contato.selecionado;
                });
            };
        });
    </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
    <div class="jumbotron">
        <h3 ng-bind="app"></h3>
        <table ng-show="contatos.length > 0" class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Operadora</th>
                <th>Cor</th>
            </tr>
            <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
                <!--  Primeira Forma de utilizar o ng-repeat  -->
                <td><input type="checkbox" ng-model="contato.selecionado"></td>
                <td>{{contato.nome}}</td>
                <td>{{contato.telefone}}</td>
                <td>{{contato.operadora.nome}}</td>
                <td><div style="height: 20px; width: 20px;" ng-style="{'background-color': contato.cor}"></div></td>
                <!--  Segunda Forma de utilizar o ng-repeat  -->
<!--                <td ng-repeat="(key, value) in contato">-->
<!--                    {{value}}-->
<!--                </td>-->
            </tr>
        </table>
        <hr/>
        <input type="text" ng-model="contato.nome" class="form-control" placeholder="Nome">
        <input id="phone" type="text" ng-model="contato.telefone" maxlength="8" class="form-control" placeholder="Telefone">
        <select ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras" class="form-control">
            <option value="">Selecione uma operadora</option>
        </select>
        <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="!(contato.nome && contato.telefone && contato.operadora)">Adicionar Contato</button>
        <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatoSelecionado(contatos)">Apagar Contato</button>
    </div>
    <div ng-include="'footer.html'"></div>
    <script>
        document.querySelector('#phone').addEventListener('blur', function (e) {
            let x = e.target.value.replace(/\D/g, '').match(/(\d{4})(\d{4})/);
            e.target.value = x[1] + '-' + x[2];
        });
    </script>
</body>
</html>