.jumbotron {
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.table {
    margin-top: 20px;
}

.form-control {
    margin-bottom: 5px;
}

button[disabled="disabled"] {
    cursor: not-allowed;
}

.selecionado {
    background-color: yellow !important;
}

.negrito {
    font-weight: bold;
}